<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sopt.linkbox" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:minSdkVersion="19" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:minSdkVersion="19" />

    <!-- for android badge -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <!-- for Samsung badge -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <!-- for htc badge -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <!-- for sony badge -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <!-- for apex badge -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />

    <!-- for Push Notification -->
    <permission
        android:name="org.sopt.linkbox.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="org.sopt.linkbox.permission.C2D_MESSAGE" />

    <!-- used for gallery permission -->
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <!-- InApp purchase -->
    <!-- <permission android:name="com.android.vending.BILLING" /> -->
    <!-- Application start -->
    <application
        android:name=".LinkBoxController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.CustomTheme" >

        <!-- Deprecated Start -->
        <service
            android:name=".service.LinkHeadService"
            android:exported="false" >
        </service>
        <!-- Deprecated End -->

        <activity
            android:name=".activity.effectPage.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Account Activities Start -->
        <activity
            android:name=".activity.accountPage.AccountActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.accountPage.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.accountPage.AccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.accountPage.SignupActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.accountPage.AccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.accountPage.FacebookDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.loadingPage.AccountLoadingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Facebook Start -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="@string/facebook_authority"
            android:exported="true" >
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" >
        </meta-data>
        <!-- Facebook End -->


        <!-- Account Activities End -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" >
        </meta-data>

        <!-- Help Activities Start -->
        <activity
            android:name=".activity.helpPage.HelpActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.mainPage.urlListingPage.LinkBoxActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.helpPage.subHelpPage.StartHelpActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.helpPage.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.helpPage.subHelpPage.LinkOpenHelpActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.helpPage.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.helpPage.subHelpPage.BoxCreateHelpActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.helpPage.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.helpPage.subHelpPage.BoxShareHelpActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.helpPage.HelpActivity"
            android:screenOrientation="portrait" />
        <!-- Help Activities End -->


        <!-- for Push -->
        <service
            android:name=".service.pushService.LinkGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.pushService.LinkInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".service.pushService.LinkRegistrationService"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="org.sopt.linkbox" />
            </intent-filter>
        </receiver>

        <!-- Main Activities Start -->
        <!-- Box Activities Start -->
        <activity
            android:name=".activity.mainPage.boxListPage.BoxListEditActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.mainPage.urlListingPage.LinkBoxActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.mainPage.boxListPage.InvitedBoxActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.mainPage.boxListPage.BoxListEditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.mainPage.boxListPage.BoxMenuActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".activity.mainPage.boxListPage.BoxAddActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.mainPage.boxListPage.BoxEditActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- Box Activities End -->
        <!-- Editor Activities Start -->
        <activity
            android:name=".activity.mainPage.editorPage.BoxEditorAdd"
            android:label="@string/app_name"
            android:parentActivityName=".activity.mainPage.editorPage.BoxEditorList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.mainPage.editorPage.BoxEditorList"
            android:label="@string/app_name"
            android:parentActivityName=".activity.mainPage.urlListingPage.LinkBoxActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Editor Activities End -->
        <!-- URL Activities Start -->
        <activity
            android:name=".activity.mainPage.urlListingPage.LinkBoxActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.mainPage.urlListingPage.PhotoCropActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- URL Activities End -->
        <!-- Setting Activities Start -->
        <activity
            android:name=".activity.settingPage.UserSettingActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.mainPage.urlListingPage.LinkBoxActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Setting Activities End -->

        <activity
            android:name=".activity.mainPage.LinkItActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="http"
                    android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.mainPage.boxListPage.BoxImageCropActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Main Activities End -->

        <activity
            android:name=".activity.settingPage.AlarmDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.settingPage.ReadLaterDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.mainPage.urlListingPage.DeleteDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.mainPage.urlListingPage.EditDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.mainPage.boxListPage.BoxDeleteDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.mainPage.boxListPage.WebviewActivity"
            android:label="@string/title_activity_webview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.helpPage.TutorialActivity"
            android:label="@string/title_activity_tutorial" >
        </activity>
        <activity
            android:name=".activity.alarmPage.AlarmActivity"
            android:label="@string/title_activity_alarm" >
        </activity>
        <activity
            android:name=".activity.mainPage.urlListingPage.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
    </application>

</manifest>
